In [3]:
import numpy as np
import pandas as pd

## Merge and Basics

In [33]:
df_train_1 = pd.read_csv('Surveydata_train_(1)_(2).csv')
df_train_2 = pd.read_csv('Traveldata_train_(1)_(3).csv')

In [34]:
df_train = pd.merge(df_train_1, df_train_2, on='ID')

In [7]:
df_train.head()

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,98800001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,...,need improvement,poor,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,...,good,good,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,...,excellent,excellent,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,98800004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,...,acceptable,acceptable,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,98800005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,...,good,good,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0

In [6]:
df_train.shape

(94379, 25)

In [22]:
df_test_1 = pd.read_csv('Surveydata_test_(2).csv')
df_test_2 = pd.read_csv('Traveldata_test_(2).csv')

In [23]:
df_test = pd.merge(df_test_1, df_test_2, on='ID')

In [11]:
df_test.shape

(35602, 24)

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_comfort             94318 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_time_convenient  85449 non-null  object
 5   Catering                 85638 non-null  object
 6   Platform_location        94349 non-null  object
 7   Onboardwifi_service      94349 non-null  object
 8   Onboard_entertainment    94361 non-null  object
 9   Online_support           94288 non-null  object
 10  Onlinebooking_Ease       94306 non-null  object
 11  Onboard_service          86778 non-null  object
 12  Leg_room                 94289 non-null  object
 13  Baggage_handling         94237 non-null  object
 14  Checkin_service          94302 non-null  object
 15  Cleanliness              94373 non-null  object
 16  Online_boarding          94373 non-null  object
 17  Gender                   94302 non-null  object
 18  CustomerType             85428 non-null  object
 19  Age                      94346 non-null  float64
 20  TypeTravel               85153 non-null  object
 21  Travel_Class             94379 non-null  object
 22  Travel_Distance          94379 non-null  int64
 23  DepartureDelay_in_Mins   94322 non-null  float64
 24  ArrivalDelay_in_Mins     94022 non-null  float64
dtypes: float64(3), int64(3), object(19)
memory usage: 18.0+ MB

In [37]:
del df_train_1, df_train_2

In [38]:
del df_test_1, df_test_2

In [10]:
df_train.isnull().sum()

ID                            0
Overall_Experience            0
Seat_comfort                 61
Seat_Class                    0
Arrival_time_convenient    8930
Catering                   8741
Platform_location            30
Onboardwifi_service          30
Onboard_entertainment        18
Online_support               91
Onlinebooking_Ease           73
Onboard_service            7601
Leg_room                     90
Baggage_handling            142
Checkin_service              77
Cleanliness                   6
Online_boarding               6
Gender                       77
CustomerType               8951
Age                          33
TypeTravel                 9226
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       57
ArrivalDelay_in_Mins        357
dtype: int64

In [11]:
cols = df_train.columns
for column in cols[1:]:
    print(df_train[column].value_counts(dropna=False))
    print('\n')

Overall_Experience
1    51593
0    42786
Name: count, dtype: int64


Seat_comfort
acceptable          21158
need improvement    20946
good                20595
poor                15185
excellent           12971
extremely poor       3463
NaN                    61
Name: count, dtype: int64


Seat_Class
Green Car    47435
Ordinary     46944
Name: count, dtype: int64


Arrival_time_convenient
good                19574
excellent           17684
acceptable          15177
need improvement    14990
poor                13692
NaN                  8930
extremely poor       4332
Name: count, dtype: int64


Catering
acceptable          18468
need improvement    17978
good                17969
poor                13858
excellent           13455
NaN                  8741
extremely poor       3910
Name: count, dtype: int64


Platform_location
manageable           24173
Convinient           21912
need improvement     17832
Inconvinient         16449
very convinient      13981
NaN                     30
very inconvinient        2
Name: count, dtype: int64


Onboardwifi_service
good                22835
excellent           20968
acceptable          20118
need improvement    19596
poor                10741
extremely poor         91
NaN                    30
Name: count, dtype: int64


Onboard_entertainment
good                30446
excellent           21644
acceptable          17560
need improvement    13926
poor                 8641
extremely poor       2144
NaN                    18
Name: count, dtype: int64


Online_support
good                30016
excellent           25894
acceptable          15702
need improvement    12508
poor                10167
NaN                    91
extremely poor          1
Name: count, dtype: int64


Onlinebooking_Ease
good                28909
excellent           24744
acceptable          16390
need improvement    14479
poor                 9768
NaN                    73
extremely poor         16
Name: count, dtype: int64


Onboard_service
good                27265
excellent           21272
acceptable          18071
need improvement    11390
poor                 8776
NaN                  7601
extremely poor          4
Name: count, dtype: int64


Leg_room
good                28870
excellent           24832
acceptable          16384
need improvement    15753
poor                 8110
extremely poor        340
NaN                    90
Name: count, dtype: int64


Baggage_handling
good                34944
excellent           26003
acceptable          17767
need improvement     9759
poor                 5764
NaN                   142
Name: count, dtype: int64


Checkin_service
good                26502
acceptable          25803
excellent           19641
need improvement    11218
poor                11137
NaN                    77
extremely poor          1
Name: count, dtype: int64


Cleanliness
good                35427
excellent           26053
acceptable          17449
need improvement     9806
poor                 5633
NaN                     6
extremely poor          5
Name: count, dtype: int64


Online_boarding
good                25533
acceptable          22475
excellent           21742
need improvement    13451
poor                11160
extremely poor         12
NaN                     6
Name: count, dtype: int64


Gender
Female    47815
Male      46487
NaN          77
Name: count, dtype: int64


CustomerType
Loyal Customer       69823
disloyal Customer    15605
NaN                   8951
Name: count, dtype: int64


Age
39.0    2688
25.0    2542
40.0    2333
44.0    2291
41.0    2248
        ...
79.0      39
76.0      38
NaN       33
78.0      30
85.0      18
Name: count, Length: 76, dtype: int64


TypeTravel
Business travel    58617
Personal Travel    26536
NaN                 9226
Name: count, dtype: int64


Travel_Class
Eco         49342
Business    45037
Name: count, dtype: int64


Travel_Distance
1963    72
1789    68
1894    65
1639    65
1981    64
        ..
5028     1
4312     1
5267     1
4094     1
4156     1
Name: count, Length: 5210, dtype: int64


DepartureDelay_in_Mins
0.0      53339
1.0       2734
2.0       2096
3.0       1838
4.0       1641
         ...
933.0        1
292.0        1
323.0        1
815.0        1
610.0        1
Name: count, Length: 438, dtype: int64


ArrivalDelay_in_Mins
0.0      52915
1.0       1995
2.0       1899
3.0       1757
4.0       1713
         ...
486.0        1
381.0        1
356.0        1
567.0        1
593.0        1
Name: count, Length: 435, dtype: int64

## Imputing Values

In [12]:
cols = df_train.columns
for column in cols[1:]:
    if df_train[column].dtype == 'string':
        df_train[column] = df_train[column].astype('object')

In [39]:
df_train_a = df_train
df_test_a = df_test

In [40]:
cols = df_train.columns
for column in cols[1:]:
    if df_train[column].dtype == 'object':
        mode = df_train[column].mode()[0]
        df_train[column] = df_train[column].fillna(mode)

In [41]:
cols = df_test.columns
for column in cols[1:]:
    if df_test[column].dtype == 'object':
        mode = df_test[column].mode()[0]
        df_test[column] = df_test[column].fillna(mode)

In [58]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Seat_comfort             35602 non-null  object
 2   Seat_Class               35602 non-null  object
 3   Arrival_time_convenient  35602 non-null  object
 4   Catering                 35602 non-null  object
 5   Platform_location        35602 non-null  object
 6   Onboardwifi_service      35602 non-null  object
 7   Onboard_entertainment    35602 non-null  object
 8   Online_support           35602 non-null  object
 9   Onlinebooking_Ease       35602 non-null  object
 10  Onboard_service          35602 non-null  object
 11  Leg_room                 35602 non-null  object
 12  Baggage_handling         35602 non-null  object
 13  Checkin_service          35602 non-null  object
 14  Cleanliness              35602 non-null  object
 15  Online_boarding          35602 non-null  object
 16  Gender                   35602 non-null  object
 17  CustomerType             35602 non-null  object
 18  Age                      35591 non-null  float64
 19  TypeTravel               35602 non-null  object
 20  Travel_Class             35602 non-null  object
 21  Travel_Distance          35602 non-null  int64
 22  DepartureDelay_in_Mins   35573 non-null  float64
 23  ArrivalDelay_in_Mins     35479 non-null  float64
dtypes: float64(3), int64(2), object(19)
memory usage: 6.5+ MB

In [15]:
cols = df_train.columns
for column in cols[1:]:
    print(df_train[column].value_counts(dropna=False))
    print('\n')

Overall_Experience
1    51593
0    42786
Name: count, dtype: int64


Seat_comfort
acceptable          21219
need improvement    20946
good                20595
poor                15185
excellent           12971
extremely poor       3463
Name: count, dtype: int64


Seat_Class
Green Car    47435
Ordinary     46944
Name: count, dtype: int64


Arrival_time_convenient
good                28504
excellent           17684
acceptable          15177
need improvement    14990
poor                13692
extremely poor       4332
Name: count, dtype: int64


Catering
acceptable          27209
need improvement    17978
good                17969
poor                13858
excellent           13455
extremely poor       3910
Name: count, dtype: int64


Platform_location
manageable           24203
Convinient           21912
need improvement     17832
Inconvinient         16449
very convinient      13981
very inconvinient        2
Name: count, dtype: int64


Onboardwifi_service
good                22865
excellent           20968
acceptable          20118
need improvement    19596
poor                10741
extremely poor         91
Name: count, dtype: int64


Onboard_entertainment
good                30464
excellent           21644
acceptable          17560
need improvement    13926
poor                 8641
extremely poor       2144
Name: count, dtype: int64


Online_support
good                30107
excellent           25894
acceptable          15702
need improvement    12508
poor                10167
extremely poor          1
Name: count, dtype: int64


Onlinebooking_Ease
good                28982
excellent           24744
acceptable          16390
need improvement    14479
poor                 9768
extremely poor         16
Name: count, dtype: int64


Onboard_service
good                34866
excellent           21272
acceptable          18071
need improvement    11390
poor                 8776
extremely poor          4
Name: count, dtype: int64


Leg_room
good                28960
excellent           24832
acceptable          16384
need improvement    15753
poor                 8110
extremely poor        340
Name: count, dtype: int64


Baggage_handling
good                35086
excellent           26003
acceptable          17767
need improvement     9759
poor                 5764
Name: count, dtype: int64


Checkin_service
good                26579
acceptable          25803
excellent           19641
need improvement    11218
poor                11137
extremely poor          1
Name: count, dtype: int64


Cleanliness
good                35433
excellent           26053
acceptable          17449
need improvement     9806
poor                 5633
extremely poor          5
Name: count, dtype: int64


Online_boarding
good                25539
acceptable          22475
excellent           21742
need improvement    13451
poor                11160
extremely poor         12
Name: count, dtype: int64


Gender
Female    47892
Male      46487
Name: count, dtype: int64


CustomerType
Loyal Customer       78774
disloyal Customer    15605
Name: count, dtype: int64


Age
39.0    2688
25.0    2542
40.0    2333
44.0    2291
41.0    2248
        ...
79.0      39
76.0      38
NaN       33
78.0      30
85.0      18
Name: count, Length: 76, dtype: int64


TypeTravel
Business travel    67843
Personal Travel    26536
Name: count, dtype: int64


Travel_Class
Eco         49342
Business    45037
Name: count, dtype: int64


Travel_Distance
1963    72
1789    68
1894    65
1639    65
1981    64
        ..
5028     1
4312     1
5267     1
4094     1
4156     1
Name: count, Length: 5210, dtype: int64


DepartureDelay_in_Mins
0.0      53339
1.0       2734
2.0       2096
3.0       1838
4.0       1641
         ...
933.0        1
292.0        1
323.0        1
815.0        1
610.0        1
Name: count, Length: 438, dtype: int64


ArrivalDelay_in_Mins
0.0      52915
1.0       1995
2.0       1899
3.0       1757
4.0       1713
         ...
486.0        1
381.0        1
356.0        1
567.0        1
593.0        1
Name: count, Length: 435, dtype: int64

In [59]:
cols = df_test.columns
for column in cols[1:]:
    print(df_test[column].value_counts(dropna=False))
    print('\n')

Seat_comfort
acceptable          8025
need improvement    7831
good                7808
poor                5755
excellent           4854
extremely poor      1329
Name: count, dtype: int64


Seat_Class
Ordinary     17860
Green Car    17742
Name: count, dtype: int64


Arrival_time_convenient
good                10686
excellent            6589
acceptable           5844
need improvement     5684
poor                 5131
extremely poor       1668
Name: count, dtype: int64


Catering
acceptable          10490
need improvement     6701
good                 6701
poor                 5178
excellent            5025
extremely poor       1507
Name: count, dtype: int64


Platform_location
manageable          9376
Convinient          8178
need improvement    6703
Inconvinient        6134
very convinient     5211
Name: count, dtype: int64


Onboardwifi_service
good                8755
excellent           7875
acceptable          7495
need improvement    7456
poor                3980
extremely poor        41
Name: count, dtype: int64


Onboard_entertainment
good                11444
excellent            8204
acceptable           6675
need improvement     5279
poor                 3167
extremely poor        833
Name: count, dtype: int64


Online_support
good                11513
excellent            9665
acceptable           5902
need improvement     4755
poor                 3767
Name: count, dtype: int64


Onlinebooking_Ease
good                11043
excellent            9380
acceptable           6029
need improvement     5474
poor                 3674
extremely poor          2
Name: count, dtype: int64


Onboard_service
good                13094
excellent            7941
acceptable           6770
need improvement     4385
poor                 3412
Name: count, dtype: int64


Leg_room
good                10867
excellent            9536
acceptable           6079
need improvement     5992
poor                 3025
extremely poor        103
Name: count, dtype: int64


Baggage_handling
good                13331
excellent            9729
acceptable           6683
need improvement     3659
poor                 2200
Name: count, dtype: int64


Checkin_service
good                10004
acceptable           9740
excellent            7375
need improvement     4262
poor                 4221
Name: count, dtype: int64


Cleanliness
good                13423
excellent            9900
acceptable           6534
need improvement     3607
poor                 2138
Name: count, dtype: int64


Online_boarding
good                9682
acceptable          8323
excellent           8250
need improvement    5134
poor                4211
extremely poor         2
Name: count, dtype: int64


Gender
Female    18099
Male      17503
Name: count, dtype: int64


CustomerType
Loyal Customer       29732
disloyal Customer     5870
Name: count, dtype: int64


Age
39.0    1003
25.0     968
40.0     877
41.0     842
45.0     820
        ...
78.0      14
79.0      13
NaN       11
74.0      11
85.0       7
Name: count, Length: 76, dtype: int64


TypeTravel
Business travel    25761
Personal Travel     9841
Name: count, dtype: int64


Travel_Class
Eco         18473
Business    17129
Name: count, dtype: int64


Travel_Distance
1760    31
1839    29
1875    29
2059    29
1965    28
        ..
4126     1
4826     1
5438     1
666      1
5090     1
Name: count, Length: 4644, dtype: int64


DepartureDelay_in_Mins
0.0      20028
1.0        946
2.0        765
3.0        697
4.0        667
         ...
358.0        1
319.0        1
219.0        1
400.0        1
420.0        1
Name: count, Length: 351, dtype: int64


ArrivalDelay_in_Mins
0.0      19848
1.0        750
3.0        688
2.0        686
4.0        662
         ...
372.0        1
287.0        1
283.0        1
234.0        1
269.0        1
Name: count, Length: 356, dtype: int64

In [60]:
df_test.isnull().sum()

ID                           0
Seat_comfort                 0
Seat_Class                   0
Arrival_time_convenient      0
Catering                     0
Platform_location            0
Onboardwifi_service          0
Onboard_entertainment        0
Online_support               0
Onlinebooking_Ease           0
Onboard_service              0
Leg_room                     0
Baggage_handling             0
Checkin_service              0
Cleanliness                  0
Online_boarding              0
Gender                       0
CustomerType                 0
Age                         11
TypeTravel                   0
Travel_Class                 0
Travel_Distance              0
DepartureDelay_in_Mins      29
ArrivalDelay_in_Mins       123
dtype: int64

In [42]:
cols = df_train.select_dtypes(include=['int64','float64']).columns
for column in cols[1:]:
    median = df_train[column].median()
    df_train[column] = df_train[column].fillna(median)

In [43]:
cols = df_test.select_dtypes(include=['int64', 'float64']).columns
for column in cols[1:]:
    median = df_test[column].median()
    df_test[column] = df_test[column].fillna(median)

In [62]:
df_test.isnull().sum()

ID                         0
Seat_comfort               0
Seat_Class                 0
Arrival_time_convenient    0
Catering                   0
Platform_location          0
Onboardwifi_service        0
Onboard_entertainment      0
Online_support             0
Onlinebooking_Ease         0
Onboard_service            0
Leg_room                   0
Baggage_handling           0
Checkin_service            0
Cleanliness                0
Online_boarding            0
Gender                     0
CustomerType               0
Age                        0
TypeTravel                 0
Travel_Class               0
Travel_Distance            0
DepartureDelay_in_Mins     0
ArrivalDelay_in_Mins       0
dtype: int64

## Encoding

### Encoding Ordinal Variables

In [44]:
df_train_b = df_train
df_test_b = df_test

In [45]:
pd.set_option('future.no_silent_downcasting', True)

In [46]:
df_train = df_train.replace({'extremely poor':1, 'poor':2, 'need improvement':3, 
                             'acceptable':4, 'good':5, 'excellent':6})

In [47]:
df_test = df_test.replace({'extremely poor':1, 'poor':2, 'need improvement':3, 
                             'acceptable':4, 'good':5, 'excellent':6})

In [48]:
df_train = df_train.replace({'very inconvinient':1, 'Inconvinient':2, 'need improvement':3, 
                             'manageable':4, 'Convinient':5, 'very convinient':6})

In [49]:
df_test = df_test.replace({'very inconvinient':1, 'Inconvinient':2, 'need improvement':3, 
                             'manageable':4, 'Convinient':5, 'very convinient':6})

In [52]:
df_train_c = df_train
df_test_c = df_test

In [67]:
df_test.head()

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,4,Green Car,4,4,4,3,6,5,6,6,6,6,5,6,2,Female,Loyal Customer,36.0,Business travel,Business,532,0.0,0.0
1,99900002,1,Ordinary,5,2,4,4,2,4,4,6,4,5,4,6,4,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0
2,99900003,6,Ordinary,6,6,6,6,6,6,3,3,3,3,5,3,6,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0
3,99900004,4,Green Car,6,4,6,2,4,6,2,4,3,6,6,6,2,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,6,Ordinary,1,6,3,6,6,6,6,5,4,6,6,6,6,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0

In [65]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Seat_comfort             35602 non-null  object
 2   Seat_Class               35602 non-null  object
 3   Arrival_time_convenient  35602 non-null  object
 4   Catering                 35602 non-null  object
 5   Platform_location        35602 non-null  object
 6   Onboardwifi_service      35602 non-null  object
 7   Onboard_entertainment    35602 non-null  object
 8   Online_support           35602 non-null  object
 9   Onlinebooking_Ease       35602 non-null  object
 10  Onboard_service          35602 non-null  object
 11  Leg_room                 35602 non-null  object
 12  Baggage_handling         35602 non-null  object
 13  Checkin_service          35602 non-null  object
 14  Cleanliness              35602 non-null  object
 15  Online_boarding          35602 non-null  object
 16  Gender                   35602 non-null  object
 17  CustomerType             35602 non-null  object
 18  Age                      35602 non-null  float64
 19  TypeTravel               35602 non-null  object
 20  Travel_Class             35602 non-null  object
 21  Travel_Distance          35602 non-null  int64
 22  DepartureDelay_in_Mins   35602 non-null  float64
 23  ArrivalDelay_in_Mins     35602 non-null  float64
dtypes: float64(3), int64(2), object(19)
memory usage: 6.5+ MB

In [53]:
exclude_columns = ['Seat_Class', 'Gender', 'CustomerType', 'TypeTravel', 'Travel_Class']

all_columns = df_train.columns

for column in all_columns:
    if column not in exclude_columns:
        df_train[column] = pd.to_numeric(df_train[column], errors='coerce')

In [54]:
exclude_columns = ['Seat_Class', 'Gender', 'CustomerType', 'TypeTravel', 'Travel_Class']

all_columns = df_test.columns

for column in all_columns:
    if column not in exclude_columns:
        df_test[column] = pd.to_numeric(df_test[column], errors='coerce')

In [69]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Seat_comfort             35602 non-null  int64
 2   Seat_Class               35602 non-null  object
 3   Arrival_time_convenient  35602 non-null  int64
 4   Catering                 35602 non-null  int64
 5   Platform_location        35602 non-null  int64
 6   Onboardwifi_service      35602 non-null  int64
 7   Onboard_entertainment    35602 non-null  int64
 8   Online_support           35602 non-null  int64
 9   Onlinebooking_Ease       35602 non-null  int64
 10  Onboard_service          35602 non-null  int64
 11  Leg_room                 35602 non-null  int64
 12  Baggage_handling         35602 non-null  int64
 13  Checkin_service          35602 non-null  int64
 14  Cleanliness              35602 non-null  int64
 15  Online_boarding          35602 non-null  int64
 16  Gender                   35602 non-null  object
 17  CustomerType             35602 non-null  object
 18  Age                      35602 non-null  float64
 19  TypeTravel               35602 non-null  object
 20  Travel_Class             35602 non-null  object
 21  Travel_Distance          35602 non-null  int64
 22  DepartureDelay_in_Mins   35602 non-null  float64
 23  ArrivalDelay_in_Mins     35602 non-null  float64
dtypes: float64(3), int64(16), object(5)
memory usage: 6.5+ MB

In [66]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              94379 non-null  int64
 1   Overall_Experience              94379 non-null  int64
 2   Seat_comfort                    94379 non-null  int64
 3   Arrival_time_convenient         94379 non-null  int64
 4   Catering                        94379 non-null  int64
 5   Platform_location               94379 non-null  int64
 6   Onboardwifi_service             94379 non-null  int64
 7   Onboard_entertainment           94379 non-null  int64
 8   Online_support                  94379 non-null  int64
 9   Onlinebooking_Ease              94379 non-null  int64
 10  Onboard_service                 94379 non-null  int64
 11  Leg_room                        94379 non-null  int64
 12  Baggage_handling                94379 non-null  int64
 13  Checkin_service                 94379 non-null  int64
 14  Cleanliness                     94379 non-null  int64
 15  Online_boarding                 94379 non-null  int64
 16  Age                             94379 non-null  float64
 17  Travel_Distance                 94379 non-null  int64
 18  DepartureDelay_in_Mins          94379 non-null  float64
 19  ArrivalDelay_in_Mins            94379 non-null  float64
 20  Seat_Class_Ordinary             94379 non-null  object
 21  Gender_Male                     94379 non-null  object
 22  CustomerType_disloyal Customer  94379 non-null  object
 23  TypeTravel_Personal Travel      94379 non-null  object
 24  Travel_Class_Eco                94379 non-null  object
dtypes: float64(3), int64(17), object(5)
memory usage: 18.0+ MB

In [55]:
pd.set_option('display.max_columns', None)

### Encoding Categorical Variables

In [56]:
df_train = pd.get_dummies(df_train,drop_first = True)

In [57]:
df_test = pd.get_dummies(df_test,drop_first = True)

In [58]:
df_train = df_train.replace({False:0, True:1})

In [59]:
df_test = df_test.replace({False:0, True:1})

In [62]:
df_train_d = df_train
df_test_d = df_test

In [32]:
df_train.head()

,ID,Overall_Experience,Seat_comfort,Arrival_time_convenient,Catering,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_Class_Ordinary,Platform_location_2,Platform_location_3,Platform_location_4,Platform_location_5,Platform_location_6,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
0,98800001,0,3,6,6,5,3,4,3,3,4,3,5,3,2,52.0,272,0.0,5.0,0,0,0,0,0,1,0,0,0,0
1,98800002,0,2,6,2,5,2,5,5,6,3,2,3,5,5,48.0,2200,9.0,0.0,1,0,1,0,0,0,1,0,1,1
2,98800003,1,3,3,3,3,5,6,6,6,6,6,5,6,6,43.0,1061,77.0,119.0,0,0,1,0,0,0,0,0,0,0
3,98800004,0,4,3,4,4,3,4,4,4,4,4,5,4,4,44.0,780,13.0,18.0,1,0,1,0,0,0,0,0,0,0
4,98800005,1,4,4,4,3,5,6,5,5,5,5,5,5,5,50.0,1981,0.0,0.0,1,0,0,1,0,0,0,0,0,0

In [29]:
df_test.head()

,ID,Seat_comfort,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding,Age,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_Class_Ordinary,Gender_Male,CustomerType_disloyal Customer,TypeTravel_Personal Travel,Travel_Class_Eco
0,99900001,4,4,4,4,3,6,5,6,6,6,6,5,6,2,36.0,532,0.0,0.0,0,0,0,0,0
1,99900002,1,5,2,4,4,2,4,4,6,4,5,4,6,4,21.0,1425,9.0,28.0,1,0,1,0,0
2,99900003,6,6,6,6,6,6,6,3,3,3,3,5,3,6,60.0,2832,0.0,0.0,1,1,0,0,0
3,99900004,4,6,4,6,2,4,6,2,4,3,6,6,6,2,29.0,1352,0.0,0.0,0,0,0,1,1
4,99900005,6,1,6,3,6,6,6,6,5,4,6,6,6,6,18.0,1610,17.0,0.0,1,1,1,0,0

In [31]:
df_test.shape

(35602, 24)

In [28]:
df_test_temp = pd.merge(df_test_1, df_test_2, on='ID')

In [29]:
test_file_ids = df_test_temp['ID']

In [ ]:
df_train.drop('ID',axis = 1,inplace = True)

In [64]:
df_test.drop('ID',axis = 1,inplace = True)

In [69]:
test_file_ids

0        99900001
1        99900002
2        99900003
3        99900004
4        99900005
           ...
35597    99935598
35598    99935599
35599    99935600
35600    99935601
35601    99935602
Name: ID, Length: 35602, dtype: int64

In [73]:
cols = df_train.columns

In [75]:
df_train.to_csv('df_train_encoded.csv', index=False)
df_test.to_csv('df_test_encoded.csv', index=False)

## Random Forest

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [6]:
X = pd.read_csv('df_train_encoded.csv')

In [25]:
df_test = pd.read_csv('df_test_encoded.csv')

In [7]:
y = X['Overall_Experience']
X = X.drop('Overall_Experience', axis=1)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [14]:
RF_model = RandomForestClassifier(n_estimators=100, random_state=1)
RF_model.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [16]:
from sklearn import metrics
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import roc_auc_score, roc_curve

In [17]:
y_train_predict = RF_model.predict(X_train)
model_score = RF_model.score(X_train, y_train)
print(f'Model Score for Random Forest (Train): {round(model_score,2)}\n')
print('Confusion Matrix:')
print(metrics.confusion_matrix(y_train, y_train_predict))
print(metrics.classification_report(y_train, y_train_predict))

Model Score for Random Forest (Train): 1.0

Confusion Matrix:
[[29999     0]
 [    0 36066]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     29999
           1       1.00      1.00      1.00     36066

    accuracy                           1.00     66065
   macro avg       1.00      1.00      1.00     66065
weighted avg       1.00      1.00      1.00     66065

In [18]:
y_test_predict = RF_model.predict(X_test)
model_score = RF_model.score(X_test, y_test)
print(f'Model Score for Random Forest (Test): {round(model_score,2)}\n')
print('Confusion Matrix:')
print(metrics.confusion_matrix(y_test, y_test_predict))
print(metrics.classification_report(y_test, y_test_predict))

Model Score for Random Forest (Test): 0.95

Confusion Matrix:
[[12188   599]
 [  840 14687]]
              precision    recall  f1-score   support

           0       0.94      0.95      0.94     12787
           1       0.96      0.95      0.95     15527

    accuracy                           0.95     28314
   macro avg       0.95      0.95      0.95     28314
weighted avg       0.95      0.95      0.95     28314

In [20]:
probs_train = RF_model.predict_proba(X_train)[:, 1]
auc_train = roc_auc_score(y_train, probs_train)
auc_train

1.0

In [21]:
probs_test = RF_model.predict_proba(X_test)[:, 1]
auc_test = roc_auc_score(y_test, probs_test)
round(auc_test,3)

0.991

### Predictions 1

In [26]:
final_predictions = RF_model.predict(df_test)

In [30]:
submission=pd.DataFrame([test_file_ids,final_predictions]).T

In [32]:
submission.shape

(35602, 2)

In [33]:
submission.rename(columns={"Unnamed 0": "Overall_Experience"},inplace=True)
submission.to_csv('submission_rf.csv',index = False)

### Tuning

In [34]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'sqrt', 'log2']
}

In [36]:
from sklearn.model_selection import GridSearchCV

In [41]:
grid_search = GridSearchCV(estimator=RF_model, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=1)

In [42]:
grid_search.fit(X_train, y_train)

KeyboardInterrupt